.App {
  text-align: center;
  margin: 0 auto;
}


header {
  background-color: #000;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}
